<div class="container mt-5">
  <div class="card bg-light">
    <div class="card-header bg-dark text-white">Form: Update Customer</div>
    <div class="card-body">
      <!--formulario-->
      <form (ngSubmit)="onUpdate()">
        <div class="form-group row">
          <label class="col-md-2" for="nombre">Name:</label>
          <input type="text" name="nombre" class="form-control form-control-sm col-md-6" id="nombre"
                 placeholder="name of the customer" [(ngModel)]="client.name">
          <small></small>
        </div>
        <div class="form-group row">
          <label class="col-md-2" for="last">Last Name:</label>
          <input type="text" name="last" class="form-control form-control-sm col-md-6" id="last"
                 placeholder="Last name of the customer" [(ngModel)]="client.lastName">
          <small></small>
        </div>
        <div class="form-group row">
          <label class="col-md-2" for="phone">Phone:</label>
          <input type="text" name="phone" class="form-control form-control-sm col-md-6" id="phone"
                 placeholder="Phone of the customer" [(ngModel)]="client.phone">
          <small></small>
        </div>
        <div class="form-group row">
          <label class="col-md-2" for="email">Email:</label>
          <input type="text" name="email" class="form-control form-control-sm col-md-6" id="email"
                 placeholder="Email of the customer" [(ngModel)]="client.email">
          <small></small>
        </div>
        <div class="form-group row">
          <label class="col-md-2" for="city">City:</label>
          <select name="miselect" [(ngModel)]="client.city.cityName" class="form-control form-control-sm col-md-6" id="city">
            <option value="">{{ client.city.cityName }}</option>
            <option [value]="item" *ngFor="let item of datos">{{item}}</option>
          </select>
          <small></small>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
      </form>
    </div>
  </div>
</div>
