
<div class="container mt-5">
  <h2>List of clients</h2>
  <button class="btn btn-outline-primary" routerLink="/new"><i class="fas fa-plus-circle"></i>  New Client</button>
  <table class="table mt-2">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Phone</th>
      <th scope="col">Email</th>
      <th scope="col">City</th>
      <th scope="col">Edit</th>
      <th scope="col">Remove</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let client of clients">
      <th>{{ client.id }}</th>
      <th>{{ client.name }}</th>
      <th>{{ client.lastName }}</th>
      <th>{{ client.phone }}</th>
      <th>{{ client.email }}</th>
      <th>{{ client.city.cityName }}</th>
      <th><button class="btn btn-outline-warning" routerLink="/edit/{{ client.id }}"><i class="far fa-edit"></i> Edit</button></th>
      <th><button class="btn btn-outline-danger" (click)="onClickMe(client.id)"><i class="far fa-trash-alt"></i> Remove</button></th>
    </tr>
    </tbody>
  </table>
</div>
